  /* Reset de margin e padding para todos os elementos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Estilos para o corpo do aplicativo */
  body {
    font-family: Arial, sans-serif;
    background-color: #ECF87F ;
  }

  /* Estilos para o cabeçalho */
  .App-header {
    background-color: #81B622;
    color: white;
    padding: 20px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.315);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
  }
  
  /* Estilos para o conteúdo principal */
  .main-content {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }