  h1 {
    text-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
  }

  h2 {
    margin-top: 15px;
    margin-bottom: 25px;
    color: white;
    font-size: 40px;
  }

  h3 {
    margin-top: 9px;
    margin-bottom: 10px;
    color: white;
  }

  ul {
    list-style: none;
    color: white;
  }

  /* Estilos para seções */
  section {
    margin: 20px;
    padding: 20px;
    background-color: #81B622;
    border-radius: 15px;
    text-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
  }
  
  /* Estilização de links */
  a {
    color: #007bff;
    text-decoration: none;
  }
  
  p {
    margin-bottom: 5px;
    color: white;
  }

  a:hover {
    text-decoration: underline;
  }

  .educacao-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .educacao-item {
    flex: 1;
    margin-right: 20px; 
  }

  .image img {
    max-width: 450px;
    height: auto;
    border-radius: 15px;
    box-shadow: 9px 9px 15px rgba(0, 0, 0, 0.3);
  }

  .experiencia-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .experiencia-item {
    flex: 1;
    margin-right: 20px; 
  }

  .button-1 {
    background-color: #b5be63;
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    text-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    display: inline-block;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    height: 40px;
    line-height: 20px;
    list-style: none;
    margin: 0;
    outline: none;
    padding: 10px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: color 100ms;
    vertical-align: baseline;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .button-1:hover,
  .button-1:focus {
    background-color: #bcc567;
  }